@import url('https://fonts.googleapis.com/css?family=Molengo|Rosario');

/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Molengo', 'Rosario', Calibri, sans-serif;
	font-size: 20px;
  color: #777;
  background-color: #FFF;
}

/* Fonts */
/*h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
} */

/* The following font information and color
codes are provided for you.  They do not
match the prototype exactly, but they are
fine to use for the assignment and doing
so does not count against you.  They are
simply meant to help you save time.  We would
like everyone to have as close to a pixel-perfect
match to the prototype as possible.  If you do
find a font/color that matches more precisely,
please share it with the team so we can improve
the activity for future applicants.  Thank you!
Happy coding!
	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 20px;
  margin: 20px;
	padding: 20px;
}

header {
  background-color: #424242;
  color: #FFF;
  border-radius: 3px;
  grid-column: span 2;
  height: 80px;
  text-align: center;
  padding-top: 30px;
	margin-bottom: 20px;
}

.project-container {
  border: 2px solid #eaeaea;
  grid-column: span 2;
  padding: 10px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.progress-bar {
  grid-column: span 2;
	width: 100%;
	height: 30px;
	border: 2px solid #eaeaea;
	border-bottom: none;
}

.current-progress {
	background-color: #EF5F3C;
	width: 75%;
	height: 30px;
}
/* .completion-bar {
	width: 100%;
	height: 24px;
	border: 2px solid var(--light-grey);
	border-bottom: none;
	border-radius: 2px;
}
.completion-bar-fill {
	background-color: var(--orange);
	width: 75%;
	height: 22px;
	border-radius: 2px;
} */
.timeframe {
  grid-column: span 4;
}

.join {
  grid-column: span 4;
}

.orange {
  color: #EF5F3C;
}

.blue-anchor {
  color: #20A1D4;
  text-decoration: none;
	grid-column: span 2;
}

.donation {
	border: 2px solid #eaeaea;
	box-shadow: 1px 2px 2px 0px #f4f4f4;
  border-radius: 5px;
  font-weight: bold;
	font-size: 20px;
	grid-column: span 2;
	height: 60px;
	padding-left: 10px;
}

.donate-button {
  color: #FFF;
  background-color: #1CBC2C;
  font-weight: bold;
  font-family: 'Molengo', 'Rosario', Calibri, sans-serif;
  font-size: 20px;
	grid-column: span 2;
	height: 60px;
	box-shadow: 1px 2px 2px 0px #f4f4f4;
}

.end-button {
  border: 2px solid #eaeaea;
  background-color: #FFF;
  color: #777;
  font-weight: bold;
  font-family: 'Molengo', 'Rosario', Calibri, sans-serif;
  font-size: 20px;
	box-shadow: 1px 2px 2px 0px #f4f4f4;
	margin-top: 20px;
}

button {
  margin: 0px;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
}
